<div class="container">
  <h2>Edit Comment</h2>

  <%= form_for @comment, class:"form-horizontal", role:"form" do |f| %>
  <div class="form-group">
    <%= f.label "Message", class:"col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :value, class:"form-control"%>
    </div>
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>

<%= link_to "Back", comments_path%>
