<%= help_message_for "comments" %>

<div class="container">
 <br/>
<table class="table">
  <tr>
    <td>Comment</td>
    <td></td>
  </tr>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.value, comment_path(comment)%></td>
    <td>
      <%= link_to "Edit", edit_comment_path(comment)%>
      |
      <%= link_to "Remove", comment_path(comment), method: :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "New Comment", new_comment_path, class: "btn btn-primary btn-lg"%>
<%= link_to "Dashboard", dashboards_path%>
</div>
