<div class="col-md-3 cols-xs-4 friend">
  <div class="data">
    <div class="avatar">
      <img src="<%= friend.image %>">
    </div>
  </div>

  <div>
    <span class="name">
      <%= friend_name friend %>
    </span>
  </div>
  
  <div class="actions">
    <%= hidden_field_tag "user[relationships_attributes][#{current}][facebook_user_id]", friend.facebook_id  %>
    <%= link_to toggle_like_facebook_index_path(facebook_user_id: friend.facebook_id), class: "like", remote: true, method: :put do %>
      <i class="<%= friend.like_class %> check" data-checkbox="user[relationships_attributes][<%= current %>][like]"></i>
    <% end %>
    <%= link_to toggle_comment_facebook_index_path(facebook_user_id: friend.facebook_id), class: "comment", remote: true, method: :put do %>
      <i class="<%= friend.comment_class %> check" data-checkbox="user[relationships_attributes][<%= current %>][comment]"></i>
    <% end %>
  </div>
</div>
