<%= help_message_for "dashboard" %>

<div class="container dashboard">
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>

  <div class="row details">
      <%= link_to t("dashboard.take_me_to_the_details"), details_dashboards_path, class: "pull-right" %>
  </div>
  
  <div class="row infographics">
    <div class="col-md-3 col-md-offset-2 datum">
      <%= t("dashboard.already_like") %>
      <div class="number">
        <%= @like_count %>
      </div>
      <%= t("interest.post").pluralize(@like_count) %>
    </div>

    <div class="col-md-3 col-md-offset-1 datum">
      <%= t("dashboard.already_comment") %>
      <div class="number">
        <%= @comment_count %>
      </div>
      <%= t("interest.comment").pluralize(@comment_count) %>
    </div>    
  </div>

  <div class="row latest-peeps">
    <h2><%= t("dashboard.last_10_people") %></h2>

    <% if @last_people.empty? %>
      <p class="lead">
        <%= t("dashboard.no_people") %>
      </p>
    <% else %>
      <%= render partial: "friends", object: @last_people %>
    <% end %>
  </div>


</div>
