<!DOCTYPE html>
<html>
<head>
  <title>I Like You, Really</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="logged-in">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="icon-thumbs-up-alt"></i> I Like You, Really
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b><%= current_user.name %>
            <%= image_tag current_user.facebook_image_uri, class: "user-avatar" %>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to "Comments", comments_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>          
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>    

</body>
</html>
