<!DOCTYPE html>
<html>
<head>
  <title>I Like You, Really</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="logged-in">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to friends_facebook_index_path, class: "navbar-brand" do %>
        <i class="icon-thumbs-up-alt"></i> I Like You, Really
      <% end %>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="align-menu"><%= link_to t("menu.dashboard"), dashboards_path %></li>
        <li class="align-menu"><%= link_to t("menu.friends"), friends_facebook_index_path %></li>
        <li class="align-menu"><%= link_to t("menu.comments"), comments_path %></li>
        <li class="align-menu"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <li class="align-menu">
          <%= image_tag current_user.facebook_image_uri, class: "user-avatar" %>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
