<!DOCTYPE html>
<html>
  <head>
    <title>I Like You, Really</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="logged-out">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <i class="icon-thumbs-up-alt"></i> I Like You, Really
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to user_omniauth_authorize_path(:facebook) do %>
              <button class="btn btn-facebook"><i class="icon-facebook"></i> | Connect with Facebook</button>
            <% end %>
          </li>
          <li>
            <%= link_to friends_facebook_guest_index_path do %>
              <button class="btn btn-pinterest">Login as Guest</button>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>    
  </body>
</html>
